.dot-0 > .MuiBadge-badge {
  background-color: #64748b;
}
.dot-1 > .MuiBadge-badge {
  background-color: #f43f5e;
}
.dot-2 > .MuiBadge-badge {
  background-color: #8b5cf6;
}
.dot-3 > .MuiBadge-badge {
  background-color: #3b82f6;
}
.dot-4 > .MuiBadge-badge {
  background-color: #10b981;
}
.dot-5 > .MuiBadge-badge {
  background-color: #f59e0b;
}
